nav{
  background-color: var(--primary-color);
  display: flex;
  justify-content: end;
  align-items: center;

  height: 80px;
  position: fixed;
  width: 100%;
}


a{
  border-bottom: 10px solid red;
}
